<div class="about">
  <h1 class="heading">About Me</h1>
  <p class="description"> {{site.user_description}} </p>
</div>

<div class="devtools">
  <div class="icons">
    <h3 class="data">Code</h3>
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-react-original colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
  </div>
  <div class="icons">
    <h3 class="data">Dev Tools</h3>
    <i class="devicon-git-plain colored"></i>
    <i class="devicons devicons-terminal"></i>
    <i class="devicon-gitlab-plain colored"></i>
    <i class="devicon-jetbrains-plain colored"></i>
    <i class="devicon-travis-plain-wordmark colored"></i>
    <i class="devicon-jasmine-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain colored"></i>
    <i class="devicon-heroku-original-wordmark colored"></i>
  </div>
</div>
