<div id="landing">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="My E-Mail" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i
          class="icon fab fa-github-alt" aria-hidden="true"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i
          class="icon fab fa-linkedin-in" aria-hidden="true"></i></a>
      <!-- <a aria-label="My Blog" target="_blank" href="#"><i class="icon fas fa-blog" aria-hidden="true"></i></a> -->
    </div>
    <div class="header-links">
      <h4>
        <a class="link" href="#about" data-scroll>About Me</a>
      </h4>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fas fa-angle-double-down" aria-hidden="true"></i></a>
</div>
