<div class='orb-wrapper'>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
  <div class='particle'></div>
</div>
