<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  My name is Long Do and I'm a software developer from Germany.
  Currently I'm primarly focusing on Front-End development,
  but long-term I intend to move towards becoming a Fullstack Developer.
  I have experience working in agile environments and am a convinced advocate of clean code.
  My technical interests cover the integration of internet of things into everyday life,
  checking out open source projects and to automate repetitive processes via bash or python scripting.
  Everything I will learn on this journey will be shared on a wiki hosted at
  <a class="highlight-link" href="https://longpdo.gitbook.io/wiki/" target="_blank" rel="noreferrer">
    Gitbook
  </a>.
</p>
