<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  👋 Hi, my name is Long Do and I'm from Germany.
</p>
<p class="description" data-aos="fade-down">
  👨‍💻 I'm a Front-End Developer, but long-term I intend to move towards becoming a Fullstack Developer.
</p>
<p class="description" data-aos="fade-down">
  💻 I like checking out open source projects and sharing my own code on <a class="highlight-link"
    href="https://github.com/longpdo" target="_blank" rel="noreferrer"> Github </a>.
</p>
<p class="description" data-aos="fade-down">
  👥 I have experience working in agile environments and am a convinced advocate of clean code.
</p>
<p class="description" data-aos="fade-down">
  🤖 I automate repetitive processes on my computer via bash or python scripting.
</p>
<p class="description" data-aos="fade-down">
  📚 I started to keep a <a class="highlight-link" href="https://longpdo.github.io/wiki/" target="_blank"
    rel="noreferrer"> wiki </a> about things I learned.
</p>
<p class="description" data-aos="fade-down">
  📈 I am passionate about investing and I'm planning to share my experiences on a blog later on.
</p>
