#landing {
  background: #1a222c;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.header {
  z-index: 1;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.header .site-title {
  font-size: 50px;
  display: block;
  line-height: 1;
  color: #fff
}

@media only screen and (min-width: 550px) {
  .header .site-title {
    margin: 0;
    font-size: 100px
  }
}

.header .site-description {
  font-size: 20px;
  display: block;
  line-height: 1;
  color: #fff;
  margin-top: 10px
}

@media only screen and (min-width: 550px) {
  .header .site-description {
    font-size: 40px
  }
}

.header-links {
  margin: 10px
}

.header-links .link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin: 10px
}

@media only screen and (min-width: 550px) {
  .header-links .link {
    font-size: 20px
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  text-align: center
}

.down, .header-icons .icon {
  color: #fff;
  text-align: center
}

.header-icons .icon {
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .7s;
  width: 20px;
  font-size: 20px;
  margin: 5px
}

.header-icons .icon:active, .header-icons .icon:hover {
  color: #1a222c;
  background: #fff
}

@media only screen and (min-width: 550px) {
  .header-icons .icon {
    width: 35px;
    height: 35px;
    font-size: 35px
  }
}

.down {
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer;
}

.down .icon {
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .7s;
  width: 20px;
  font-size: 20px;
}

.down .icon:active, .down .icon:hover, .footer a:active, .footer a:hover {
  color: #1a222c;
  background: #fff
}
